<div class="container">

    <h1 class="mb-3">Medicines</h1>
   
    <div class="row  row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let m of medicine">
            <div class="card mb-4">

                <img src="{{imageApi}}{{m.photo}}" 
                    class="">
                <div class="card-body">
                    <h5 class="card-title" style="height: 50px;">
                        {{m.name}} <span class="float-right">&#8377; {{m.price}}
                        </span></h5>
                    <h4>{{m.category}}</h4>
                    <p class="card-text" style="height: 50px;">{{m.description}}</p>
                    <button class="btn btn-secondary float-right mt-2" (click)="buyNow(m)">Buy Now</button>

                </div>

            </div>
        </div>
    </div>
</div>